html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1440px;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 1.857776rem; /* 29.72px / 16px = 1.8575rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
body {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1440px / 1440px = 100% */
  z-index: 0;
}
.group-1 {
  position: relative;
  z-index: 202;
}
.background {
  position: relative;
  background: #333333;
}
.l-constrained-2 {
  height: 796px;
  margin: 0 auto;
  position: relative;
  width: 1440px;
}
.place-your-image-here-double-click-to-edit {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -720px;
}
.design {
  height: 796px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 1010px;
  margin-left: -290px;
}
.col {
  left: 50%;
  min-height: 795px;
  padding: 113px 0 111px;
  position: absolute;
  top: 0;
  width: 511px;
  background: url(images/vector_smart_object_doubl_21.png) no-repeat;
  margin-left: -505px;
}
.vector-smart-object-double-click-to-edit {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 45.5px;
}
.vector-smart-object-double-click-to-edit-2 {
  display: block;
  margin: 162px 0 0 91px;
  position: relative;
}
.vector-smart-object-double-click-to-edit-3 {
  display: block;
  margin: 212px auto 0;
  position: relative;
  right: 34.5px;
}
.col-5 {
  left: 50%;
  min-height: 796px;
  padding: 123px 72px 32px;
  position: absolute;
  top: 0;
  width: 736px;
  background: url(images/vector_smart_object_doubl_22.png) no-repeat;
  margin-left: -231px;
}
.vector-smart-object-double-click-to-edit-4 {
  display: block;
  left: 117px;
  margin: 0 auto;
  position: relative;
}
.vector-smart-object-double-click-to-edit-5 {
  display: block;
  left: 226px;
  margin: 66px auto 0;
  position: relative;
}
.row-6 {
  margin: 183px 0 0 24px;
  position: relative;
}
.vector-smart-object-double-click-to-edit-6 {
  float: left;
  margin: 129px 0 0;
}
.vector-smart-object-double-click-to-edit-7 {
  float: left;
  margin: 164px 0 0 155px;
}
.vector-smart-object-double-click-to-edit-8 {
  float: left;
  margin: 224px 0 0 142px;
}
.vector-smart-object-double-click-to-edit-9 {
  float: left;
  margin: 0 0 0 25px;
}
.button {
  left: 50%;
  margin: 0 0 0 -278px;
  min-height: 50px;
  position: absolute;
  top: 513px;
  width: 245px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffc200;
  color: #333333;
  font-size: 1.201924rem; /* 19.23px / 16px = 1.201875rem */
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
.text-2 {
  left: 50%;
  position: absolute;
  top: 213px;
  width: 616px;
  margin-left: -276px;
}
.title {
  color: #ffc200;
  font-family: 'Grand Hotel', handwriting;
  font-size: 7.789268rem; /* 124.63px / 16px = 7.789375rem */
}
.body-text {
  margin: 30px 0 0;
  width: 616px;
  line-height: 1.2;
}
.toolbar {
  left: 50%;
  position: absolute;
  top: 40px;
  width: 1321px;
  margin-left: -659px;
}
.place-your-logo-here-double-click-to-edit {
  float: left;
}
.search {
  float: right;
  margin: 6px 0 0;
}
.nav {
  float: right;
  margin: 13px 79px 0 0;
  position: relative;
  width: 672px;
}
.nav-list {
  position: relative;
  list-style: none;
}
.nav-list li {
  float: left;
  margin: 0 42px 0 0;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-item-1 {
  font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
}
.nav-item-1-2 {
  font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
}
.nav-item-1-3 {
  font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
}
.nav-item-1-4 {
  font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
}
.nav-item-1-5 {
  font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
}
.main-content-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 34;
}
.wrapper {
  height: 4051px;
  overflow: hidden;
  position: relative;
  width: 100%; /* 1440px / 1440px = 100% */
}
.card {
  height: 974px;
  left: 0;
  position: absolute;
  top: 3077px;
  width: 100%; /* 1440px / 1440px = 100% */
}
.background-2 {
  height: 796px;
  left: 0;
  position: absolute;
  top: 107px;
  width: 100%; /* 1440px / 1440px = 100% */
  background: #ffc200;
}
.image {
  left: 0;
  padding: 107px 0 71px;
  position: absolute;
  top: 0;
  width: 100%; /* 1440px / 1440px = 100% */
  background: url(images/place_your_image_here_dou.jpg) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.shape-holder {
  padding: 264px 0 262px;
  position: relative;
  width: 100%; /* 1440px / 1440px = 100% */
  background: url(images/shape_3.jpg) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-3 {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  width: 1440px;
}
.title-2 {
  margin: 0 auto;
  width: 1093px;
  color: #333333;
  font-size: 2.806296rem; /* 44.9px / 16px = 2.80625rem */
  line-height: 1.2;
  text-align: center;
}
.body-text-2 {
  margin: 40px 0 0;
  color: #333333;
  font-family: 'Grand Hotel', handwriting;
  font-size: 4.636756rem; /* 74.19px / 16px = 4.636875rem */
  text-align: center;
}
.group-5 {
  left: 0;
  position: absolute;
  top: 2049px;
  width: 100%; /* 1440px / 1440px = 100% */
}
.content {
  height: 1137px;
  position: relative;
  width: 100%; /* 1440px / 1440px = 100% */
}
.background-3 {
  height: 800px;
  left: 0;
  position: absolute;
  top: 337px;
  width: 100%; /* 1440px / 1440px = 100% */
  background: #ffffff;
}
.design-2 {
  left: 0;
  padding: 456px 0 100px;
  position: absolute;
  top: 0;
  width: 100%; /* 1440px / 1440px = 100% */
  background: url(images/vector_smart_object_doubl_10.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-5 {
  margin: 0 auto;
  padding: 0 130px 0 133px;
  position: relative;
  width: 1440px;
}
.col-2 {
  float: left;
  margin: 42px 135px 0 0;
  position: relative;
  width: 578px;
}
.text-4 {
  position: relative;
}
.title-3 {
  color: #ffc200;
  font-family: 'Grand Hotel', handwriting;
  font-size: 6.25rem; /* 100px / 16px = 6.25rem */
}
.body-text-3 {
  margin: 21px 0 0 2px;
  width: 576px;
  line-height: 1.2;
}
.button-2 {
  margin: 70px 0 0;
  min-height: 65px;
  padding: 0 69px;
  position: relative;
  width: 322px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffc200;
  color: #333333;
  font-size: 1.562501rem; /* 25px / 16px = 1.5625rem */
  font-weight: bold;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}
.mask {
  float: left;
  width: 464px;
  -webkit-border-radius: 231.78px/231.64px;
  -moz-border-radius: 231.78px/231.64px;
  border-radius: 231.78px/231.64px;
}
.group-4 {
  left: 0;
  position: absolute;
  top: 794px;
  width: 100%; /* 1440px / 1440px = 100% */
}
.content-2 {
  height: 1265px;
  position: relative;
  width: 100%; /* 1440px / 1440px = 100% */
}
.background-4 {
  height: 800px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; /* 1440px / 1440px = 100% */
  background: #ffffff;
}
.design-3 {
  left: 0;
  padding: 90px 0 550px;
  position: absolute;
  top: 162px;
  width: 100%; /* 1440px / 1440px = 100% */
  background: url(images/vector_smart_object_doubl_11.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-6 {
  margin: 0 auto;
  padding: 0 99px 0 136px;
  position: relative;
  width: 1440px;
}
.mask-2 {
  float: left;
  width: 464px;
  -webkit-border-radius: 231.78px/231.64px;
  -moz-border-radius: 231.78px/231.64px;
  border-radius: 231.78px/231.64px;
}
.col-3 {
  float: right;
  margin: 86px 0 0;
  position: relative;
  width: 579px;
}
.text-6 {
  position: relative;
}
.title-4 {
  color: #ffc200;
  font-family: 'Grand Hotel', handwriting;
  font-size: 6.25rem; /* 100px / 16px = 6.25rem */
}
.body-text-4 {
  margin: 34px 0 0 3px;
  width: 576px;
  font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
  line-height: 1.2;
}
.button-3 {
  margin: 62px 0 0;
  min-height: 65px;
  padding: 0 69px;
  position: relative;
  width: 322px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffc200;
  color: #333333;
  font-size: 1.562501rem; /* 25px / 16px = 1.5625rem */
  font-weight: bold;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}
.background-5 {
  left: 0;
  padding: 37px 0 38px;
  position: absolute;
  top: 1590px;
  width: 100%; /* 1440px / 1440px = 100% */
  background: #303030;
}
.l-constrained-3 {
  margin: 0 auto;
  padding: 0 55px;
  position: relative;
  width: 1440px;
}
.row-9 {
  position: relative;
}
.vector-smart-object-double-click-to-edit-10 {
  float: left;
  margin: 148px 0 0;
}
.col-10 {
  float: left;
  margin: 0 0 0 167px;
  position: relative;
  width: 809px;
}
.row-15 {
  margin: 0 0 0 41px;
  position: relative;
}
.vector-smart-object-double-click-to-edit-11 {
  float: left;
  margin: 11px 0 0;
}
.title-5 {
  float: left;
  margin: 60px 0 0 195px;
  color: #ffc200;
  font-family: 'Grand Hotel', handwriting;
  font-size: 6.250002rem; /* 100px / 16px = 6.25rem */
  text-align: center;
}
.vector-smart-object-double-click-to-edit-12 {
  float: left;
  margin: 0 0 0 156px;
}
.body-text-5 {
  margin: 24px auto 0;
  width: 805px;
  font-size: 1.542216rem; /* 24.68px / 16px = 1.5425rem */
  line-height: 1.2;
  text-align: center;
}
.vector-smart-object-double-click-to-edit-13 {
  float: left;
  margin: 214px 0 0 175px;
}
.row-8 {
  left: 13.5px;
  margin: 69px auto 0;
  position: relative;
  width: 1301px;
}
.col-9 {
  float: left;
  position: relative;
  width: 588px;
}
.row-13 {
  left: 35px;
  margin: 0 auto;
  position: relative;
  width: 518px;
}
.card-2 {
  float: left;
  min-height: 233px;
  padding: 63px 15px 66px;
  position: relative;
  width: 232px;
  border: 5px solid #ffffff; /*stroke*/
  -webkit-border-radius: 116.14px/116.5px;
  -moz-border-radius: 116.14px/116.5px;
  border-radius: 116.14px/116.5px;
}
.title-6 {
  color: #ffc200;
  font-size: 3.157915rem; /* 50.53px / 16px = 3.158125rem */
  font-weight: bold;
  text-align: center;
}
.body-text-6 {
  margin: 12px 0 0;
  font-size: 1.804523rem; /* 28.87px / 16px = 1.804375rem */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.card-3 {
  float: right;
  min-height: 233px;
  padding: 63px 15px 66px;
  position: relative;
  width: 232px;
  border: 5px solid #ffffff; /*stroke*/
  -webkit-border-radius: 116.14px/116.5px;
  -moz-border-radius: 116.14px/116.5px;
  border-radius: 116.14px/116.5px;
}
.title-7 {
  color: #ffc200;
  font-size: 3.157915rem; /* 50.53px / 16px = 3.158125rem */
  font-weight: bold;
  text-align: center;
}
.body-text-7 {
  margin: 12px 0 0;
  font-size: 1.804523rem; /* 28.87px / 16px = 1.804375rem */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.row-14 {
  margin: 21px 0 0;
  position: relative;
}
.vector-smart-object-double-click-to-edit-14 {
  float: left;
  margin: 84px 224px 0 0;
}
.vector-smart-object-double-click-to-edit-15 {
  float: left;
}
.col-8 {
  float: right;
  position: relative;
  width: 664px;
}
.row-11 {
  position: relative;
}
.card-4 {
  float: left;
  min-height: 233px;
  padding: 63px 15px 65px;
  position: relative;
  width: 232px;
  border: 5px solid #ffffff; /*stroke*/
  -webkit-border-radius: 116.14px/116.5px;
  -moz-border-radius: 116.14px/116.5px;
  border-radius: 116.14px/116.5px;
}
.title-8 {
  color: #ffc200;
  font-size: 3.157915rem; /* 50.53px / 16px = 3.158125rem */
  font-weight: bold;
  text-align: center;
}
.body-text-8 {
  margin: 12px 0 0;
  font-size: 1.804523rem; /* 28.87px / 16px = 1.804375rem */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.card-5 {
  float: left;
  margin: 0 0 0 55px;
  min-height: 233px;
  padding: 63px 15px 66px;
  position: relative;
  width: 232px;
  border: 5px solid #ffffff; /*stroke*/
  -webkit-border-radius: 116.14px/116.5px;
  -moz-border-radius: 116.14px/116.5px;
  border-radius: 116.14px/116.5px;
}
.title-9 {
  color: #ffc200;
  font-size: 3.157915rem; /* 50.53px / 16px = 3.158125rem */
  font-weight: bold;
  text-align: center;
}
.body-text-9 {
  margin: 12px 0 0;
  font-size: 1.804523rem; /* 28.87px / 16px = 1.804375rem */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.vector-smart-object-double-click-to-edit-16 {
  float: left;
  margin: 94px 0 0 65px;
}
.row-12 {
  margin: 44px 105px 0 144px;
  position: relative;
}
.vector-smart-object-double-click-to-edit-17 {
  float: left;
  margin: 0 283px 0 0;
}
.vector-smart-object-double-click-to-edit-18 {
  float: left;
  margin: 41px 0 0;
}
.background-6 {
  left: 0;
  padding: 133px 0 71px;
  position: absolute;
  top: 0;
  width: 100%; /* 1440px / 1440px = 100% */
  background: #ffffff;
}
.l-constrained-4 {
  margin: 0 auto;
  position: relative;
  width: 1440px;
}
.text-8 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.title-10 {
  color: #333333;
  font-family: 'Grand Hotel', handwriting;
  font-size: 4.6875rem; /* 75px / 16px = 4.6875rem */
  text-align: center;
}
.body-text-10 {
  margin: 31px auto 0;
  width: 894px;
  color: #333333;
  font-size: 1.576916rem; /* 25.23px / 16px = 1.576875rem */
  line-height: 1.2;
  text-align: center;
}
.row {
  margin: 75px auto 0;
  position: relative;
  width: 1101px;
}
.card-6 {
  float: left;
  position: relative;
  width: 247px;
}
.mask-3 {
  display: block;
  margin: 0 auto;
}
.text-9 {
  margin: 13px 0 0;
  position: relative;
}
.title-11 {
  color: #333333;
  font-family: 'Grand Hotel', handwriting;
  font-size: 2.604166rem; /* 41.67px / 16px = 2.604375rem */
  text-align: center;
}
.body-text-11 {
  margin: 17px auto 0;
  width: 247px;
  color: #333333;
  font-size: 1.052931rem; /* 16.85px / 16px = 1.053125rem */
  line-height: 1.2;
  text-align: center;
}
.card-7 {
  float: left;
  margin: 0 0 0 178px;
  position: relative;
  width: 247px;
}
.mask-4 {
  display: block;
  margin: 0 auto;
}
.text-10 {
  margin: 13px 0 0;
  position: relative;
}
.title-12 {
  color: #333333;
  font-family: 'Grand Hotel', handwriting;
  font-size: 2.604166rem; /* 41.67px / 16px = 2.604375rem */
  text-align: center;
}
.body-text-12 {
  margin: 17px auto 0;
  width: 247px;
  color: #333333;
  font-size: 1.052931rem; /* 16.85px / 16px = 1.053125rem */
  line-height: 1.2;
  text-align: center;
}
.card-8 {
  float: left;
  margin: 0 0 0 182px;
  position: relative;
  width: 247px;
}
.mask-5 {
  display: block;
  margin: 0 auto;
}
.text-11 {
  margin: 13px 0 0;
  position: relative;
}
.title-13 {
  color: #333333;
  font-family: 'Grand Hotel', handwriting;
  font-size: 2.604166rem; /* 41.67px / 16px = 2.604375rem */
  text-align: center;
}
.body-text-13 {
  margin: 17px auto 0;
  width: 247px;
  color: #333333;
  font-size: 1.052931rem; /* 16.85px / 16px = 1.053125rem */
  line-height: 1.2;
  text-align: center;
}
.background-7 {
  margin: -71px 0 0;
  padding: 35px 0 36px;
  position: relative;
  background: #f4f4f4;
}
.l-constrained {
  margin: 0 auto;
  padding: 0 55px;
  position: relative;
  width: 1440px;
}
.row-2 {
  overflow: hidden;
  position: relative;
}
.vector-smart-object-double-click-to-edit-19 {
  float: left;
  margin: 148px 0 0;
}
.vector-smart-object-double-click-to-edit-20 {
  float: left;
  margin: 11px 0 0 208px;
}
.title-14 {
  float: left;
  margin: 107px 0 0 182px;
  color: #333333;
  font-family: 'Grand Hotel', handwriting;
  font-size: 6.25rem; /* 100px / 16px = 6.25rem */
  text-align: center;
}
.vector-smart-object-double-click-to-edit-21 {
  float: left;
  margin: 0 0 0 133px;
}
.vector-smart-object-double-click-to-edit-22 {
  float: left;
  margin: 214px 0 0 175px;
}
.body-text-14 {
  margin: -29px auto 0;
  position: relative;
  width: 953px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.row-7 {
  left: 13.5px;
  margin: 79px auto 0;
  position: relative;
  width: 1301px;
}
.vector-smart-object-double-click-to-edit-23 {
  float: left;
  margin: 291px 0 0;
}
.col-7 {
  float: right;
  position: relative;
  width: 1043px;
}
.row-16 {
  left: 7px;
  margin: 0 auto;
  position: relative;
  width: 1029px;
}
.shape-holder-2 {
  float: left;
  margin: 2px 0 0;
  min-height: 63px;
  padding: 0 28px;
  position: relative;
  width: 549px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  background: #f4f4f4;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15); /*drop shadow*/
}
.text-12 {
  
  color: black;
  background-color: #f4f4f4;
  font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
  line-height: 63px;
}
.button-4 {
  float: left;
  margin: 0 0 0 -1px;
  min-height: 65px;
  position: relative;
  width: 222px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  background: #ffc200;
  color: #333333;
  font-size: 1.562501rem; /* 25px / 16px = 1.5625rem */
  font-weight: bold;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}
.vector-smart-object-double-click-to-edit-24 {
  float: right;
  margin: 47px 0 0;
}
.row-10 {
  margin: 56px 0 0;
  position: relative;
}
.vector-smart-object-double-click-to-edit-25 {
  float: left;
}
.vector-smart-object-double-click-to-edit-26 {
  float: left;
  margin: 23px 0 0 395px;
}
.vector-smart-object-double-click-to-edit-27 {
  float: left;
  margin: 64px 0 0 283px;
}
.group-8 {
  margin: -89px 0 0;
  position: relative;
  z-index: 3;
}
.background-8 {
  padding: 343px 0 285px;
  position: relative;
  background: #303030;
}
.footer {
  margin: 0 auto;
  padding: 0 82px 0 93px;
  position: relative;
  width: 1440px;
}
.col-1 {
  float: left;
  position: relative;
  width: 461px;
}
.title-15 {
  font-size: 1.562499rem; /* 25px / 16px = 1.5625rem */
  font-weight: bold;
  text-transform: uppercase;
}
.body-text-15 {
  margin: 30px 0 0;
  width: 461px;
  font-size: 1.475127rem; /* 23.6px / 16px = 1.475rem */
  line-height: 1.2;
}
.social-media {
  margin: 33px 0 0;
  position: relative;
  width: 211px;
}
.icon {
  position: relative;
}
.icon > * {
  float: left;
  margin: 0 14.13px 0 0;
}
.icon > *:last-child {
  margin-right: 0 !important;
}
.col-4 {
  float: right;
  position: relative;
  width: 140px;
}
.title-18 {
  font-size: 1.562499rem; /* 25px / 16px = 1.5625rem */
  font-weight: bold;
  text-transform: uppercase;
}
.body-text-18 {
  margin: 21px 0 0;
  font-size: 1.475126rem; /* 23.6px / 16px = 1.475rem */
  line-height: 41.58677px;
}
.col-3-2 {
  float: right;
  margin: 0 31px 0 0;
  position: relative;
  width: 219px;
}
.title-17 {
  font-size: 1.562499rem; /* 25px / 16px = 1.5625rem */
  font-weight: bold;
  text-transform: uppercase;
}
.body-text-17 {
  margin: 21px 0 0 1px;
  font-size: 1.475126rem; /* 23.6px / 16px = 1.475rem */
  line-height: 41.58677px;
}
.col-2-2 {
  float: right;
  margin: 0 37px 0 0;
  position: relative;
  width: 215px;
}
.title-16 {
  font-size: 1.562499rem; /* 25px / 16px = 1.5625rem */
  font-weight: bold;
  text-transform: uppercase;
}
.body-text-16 {
  margin: 21px 0 0;
  font-size: 1.475126rem; /* 23.6px / 16px = 1.475rem */
  line-height: 41.58677px;
}

@media screen and (max-width: 320px) {
  body {
    -moz-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 1460px) {
  body {
    zoom: 106%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);  
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1460px) {
  body {
    zoom: 100%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 1260px) and (max-width: 1360px) {
  body {
    zoom: 95%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 1160px) and (max-width: 1260px) {
  body {
    zoom: 90%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}

@media screen and (min-width: 1060px) and (max-width: 1160px) {
  body {
    zoom: 85%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1060px) {
  body {
    zoom: 73%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 860px) and (max-width: 960px) {
  body {
    zoom: 66%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 760px) and (max-width: 860px) {
  body {
    zoom: 59%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 660px) and (max-width: 760px) {
  body {
    zoom: 52%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 660px) {
  body {
    zoom: 45%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  body {
    zoom: 37%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}

@media screen and (max-width:760px) {
  .row {
    margin: 75px auto 0;
    position: relative;
    width: 1101px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-7 {
  float: left;
  margin: 0 0 0 0px;
  position: relative;
  width: 247px;
}
.card-8 {
  float: left;
  margin: 0 0 0 0px;
  position: relative;
  width: 247px;
}
.row-8 {
  left: 13.5px;
  margin: 69px auto 0;
  position: relative;
  width: 1301px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-13 {
  left: 0px;
  margin: 0 auto;
  position: relative;
  width: 518px;
}
.row-11 {
  position: relative;
  left: 90px;
}
.design-2 {
  left: 0;
  padding: 780px 0 100px;
  position: absolute;
  top: 0;
  width: 100%;
  background: url(/src/images/vector_smart_object_doubl_10.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
}